Xcursor.theme: breeze-snow-cursor
Xcursor.size: 32

urxvt*font: xft:Droid Sans Mono for Powerline:size=9:antialias=true:hinting=true
!URxvt*font:  xft:UbuntuMono:pixelsize=5
!URxvt*depth:                32
!URxvt*background:            [85]#000000
!URxvt*foreground:            [100]#ffffff
!URxvt*borderless: 1
URxvt*scrollBar:  false
URxvt*saveLines:  5000
URxvt*termName:    rxvt-unicode
!URxvt.perl-ext-common: default,matcher
URxvt.perl-ext-common: resize-font,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.urlLauncher: firefox
!URxvt.matcher.button: 1

URxvt.iso14755: false
URxvt.iso14755_52: false

!sets the background and foreground for other terminals relying on Xresources
*background: #fbf1c7
*foreground: #3c3836

! bg
*color0: #fbf1c7
! gray
*color8: #928374
! red
*color1: #cc241d
*color9: #9d0006
! green
*color2: #98871a
*color10: #79740e
! yellow
*color3: #d79921
*color11: #b57614
! blue
*color4: #458588
*color12: #076678
! purple
*color5: #b16286
*color13: #8f3f71
! aqua
*color6: #689d6a
*color14: #427b58
! gray
*color7:  #7c6f64
! fg
*color15: #3c3836
! underline when default
*colorUL: #92a28c
! vim: set ft=xdefaults:
